*{
  margin: 0;
  padding: 0;
}
#meni{ 
  background-color: rgba(10, 7, 71, 0.7); 
  height: 100px;
  grid-area: meni;  
  }

#mn{
  padding-top: 10px;
  padding-bottom: 10px; 
  text-align: center;
  color: aliceblue;
  font-size: 16pt;
  font-family: serif;
}

.vjezba{
  background-color: rgba(10, 7, 71, 0.7); 
color: aliceblue;
font-family:serif;
text-align: center;
font-size:20pt;
height: 100%;
width: 100%;
margin: auto;
}

.zadaci{
  border:2px solid;
  background-color: rgba(91, 87, 182, 0.7);
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  padding: 3px;
  gap:3px;
  
}
.zadatak{
  font-size: 10pt;
  color: black;  
  font-family: serif;
  height: 30px;   
  padding-left: 5px;
  padding-right: 5px;
  background-color: aliceblue;
  margin: auto;
}

#odabirVjezbe{ 
  background-color: aliceblue;
  grid-area: odabirVjezbe;  
  display: grid;
  padding: 10px;
  gap:10px ;
 }
 


ul {   
  padding-top: 20px;
  list-style-type: none;  
  text-align: left;  
}
li {
display: inline;
font-size: 13pt;
padding-left: 10px;
}
a {
  color: aliceblue;  
  font-family: serif;
}

.grid{  
  display: grid;  
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px auto;
  grid-template-areas:  "meni meni meni"
                        "odabirVjezbe . ."
                        "odabirVjezbe . .";  
}

img{
 width: 100%;
 height: 100%;
}


@media  screen and (max-width: 799px){
  .grid{
  display: grid;  
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows:  100px auto;
  grid-template-areas:  "meni"
                        "odabirVjezbe"
                        "."
                        "."        
                        "."
                        "."; 
}
}

