*{
  margin: 0;
  padding: 0;
}

#meni{ 
  background-color: rgba(10, 7, 71, 0.7); 
  height: 100px;
  grid-area: meni;
  
  }
#mn{
  color: aliceblue;
  font-size: 16pt;  
  font-family: serif;
} 
#studenti{ 
  background-color: aliceblue;
  grid-area: studenti;  
  border-right: 2px solid rgba(10, 7, 71, 0.7); 
 
 }

#grupe{
  background-color: aliceblue;
  grid-area: grupe;
  padding-bottom: 15px;
  
}

 .grid2{
  display: grid;
  padding: 20px;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit,minmax(80px,auto));
  gap: 8px;
 }

#jedanstudent{  
  text-align: center;
  border: 1px solid black;
  background-color:rgba(11, 48, 40, 0.541); 
  padding:5px; 
  
  font-family: serif;

}

h3{
  padding-top: 10px;
  padding-bottom: 10px; 
  text-align: center;
  color: rgba(10, 7, 71, 0.7); 
  font-size: 16pt;
  
  font-family: serif;
}
table{
  width: 80%;
  margin:0 auto;
  background-color: rgba(11, 48, 40, 0.541); 
  border:1px solid black;
  border-collapse: collapse;
  
  font-family: serif;

}
tr:nth-child(2n){
  background-color: aliceblue;

}
tr{
  height: 30px;
}
td{
  padding: 5px;
}
ul {   
  padding-top: 20px;
  list-style-type: none;  
  text-align: left;  
}
li {
display: inline;
font-size: 13pt;
padding-left: 10px;
}
a{
  color: aliceblue;  
  font-family: serif;
}
.grid{  
  display: grid;  
  height: 100vh;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100px auto;
  grid-template-areas:  "meni meni"
                        "studenti grupe";
  
}

@media  screen and (max-width: 799px){
  .grid{
  display: grid;  
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows:  100px auto;
  grid-template-areas:  "meni"
                        "grupe"
                        "studenti";        

 
}
#studenti{
  border-right: none; 
  border-top: 2px solid rgba(10, 7, 71, 0.7); 
}
}

@media  screen and (max-width: 499px){
  .grid{  
    display: grid;  
    height: 100%;
    grid-template-rows:  100px auto;
    grid-template-areas:  "meni"
                          "grupe"
                          "studenti";
    
  }
  
  ul {   
    text-align: center;  
    padding-top: 10px;
    box-sizing: border-box;
    margin: 0;
  }
  
  li{
    display: block;
    margin:auto;
    padding: 1px;
  }
  td:not(:nth-child(1)){
    display: none;
  }
}


